@import url(global.css);
@import url(mobile.css);
.logo {
    height: 40px;
}


header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    align-items: center;
    
}

.menu {
    position: right;
    display: flex;
    gap: 16px;
    align-items: center;
}

.profile.menu {
    width: 40px;
    height: 40px;
}

section.about {
    font: var(--paragraph-md);
    padding: 32px;
}

.about {
    display: flex;
    justify-content: space-between;
    background-color: var(--surface-color);
}

.about-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    max-width: 592px;
}

.profile-about {
    height: 176px;
}

.about-info {
    display: flex;
    align-items: center;
    width: 280px;
}

ul.info-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info-list li {
    position: relative;
}

.location::before {
    content: url(../assets/MapPin.svg);
    position: absolute;
    left: -32px;
    top: 66%;
    transform: translateY(-50%);
}

.countries::before {
    content: url(../assets/AirplaneTilt.svg);
    position: absolute;
    left: -32px;
    top: 66%;
    transform: translateY(-50%);
}

.photos::before {
    content: url(../assets/image.svg);
    position: absolute;
    left: -32px;
    top: 66%;
    transform: translateY(-50%);
}

.photo-gallery {
    display: flex;
    gap: 24px;
    flex-flow: wrap;
    padding: 24px 25px;
    justify-content: center;
}

.photo-gallery div img{
    width: 286px;
    height: 286px;
}

.footer-links {
    display: flex;
    gap: 16px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 32px;
}